body {
  background-color: #EAE8E4;
  color: #2D2D2D;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

h1 {
  font-size: 40px;
  font-weight: 900;
  line-height: 50px;
  letter-spacing: 1px;
  margin: 10px;
}

h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1px;
}

a {
  color: #FF3C38;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  color: #2D2D2D;
  text-decoration: none;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.img-circle {
  border-radius: 50%;
}

.card {
  background: #F6F5F4;
  text-align: center;
  padding: 42px;
  margin: 28px;
  border-radius: 4px;
  box-shadow: 0 10px, 30px, rgba(45,45,45,0.5)
}

.btn-red {
  background-color: #FF3C38;
  color: white;
  padding: 16px;
  border-radius: 40px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

#intro p {
  margin-bottom: 32px;
  margin-top: 32px;
}

#bigger {
  font-size: 32px;
}

#space {
  margin-top: 10px;
  margin-bottom: 15px;
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
  .card {
    padding: 16px;
    margin: 16px;
  }

  .btn-red {
    display: block;
  }
}
